<div class="player">
    <button type="button" class="btn btn-dark btn-lg" (click)="play()" *ngIf="paused else elseBlock"><i class="fas fa-play"></i></button>

    <ng-template #elseBlock>
        <button type="button" class="btn btn-dark btn-lg" (click)="pause()" ><i class="fas fa-pause"></i></button>
    </ng-template>
    
</div>

<div class="card w-50 bg-dark" style="position: absolute;  top: 50%; left:25%">
    <div class="card-body text-white" >
        <p >{{titulo}}</p>
    </div>
  </div>