<div id="player">
    <img src="" class="cover" id="art" />
    <div class="trackinfo">
        <p id="title"></p>
        <p id="artist"></p>
    </div>
    <div id="track">
        <div id="progress"></div>
        <div id="handler"></div>
    </div>
    <div class="container">
        <div class="info">
            <div class="cont">
                <button id="prev" class="nav">
                    <img src="http://abarcarodriguez.com/lab/prev.png" />
                </button>
                <button id="pad" class="nav">
                    <img class="pad" src="http://abarcarodriguez.com/lab/play.png" />
                </button>
                <button id="next" class="nav">
                    <img src="http://abarcarodriguez.com/lab/next.png" />
                </button>
            </div>
        </div>
    </div>
</div>