
  
  <main role="main">
  
  
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Notas del parche 1.0.0!</h1>
        <p>Esta app de streaming de música esta dando sus primeros pasos, atento a los parches!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Leer m&aacute;s &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Streaming de música!</h2>
          <p>Puedes disfrutar de una amplia gama de canciones para escucharlas cuando te apetezca! </p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Nuevas canciones!</h2>
          <p>Cada mes ire subiendo nuevas canciones! Comprueba las de este mes.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Privilegios de usuario!</h2>
          <p>Como usuario podrás ver qué canciones he subido.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
